*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 1440px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav:hover,
.nav:focus {
    color: #404bbf;

}

.address {
    font-style: normal;
}

.contacts {
    display: flex;
    gap: 40px;
}

.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.mail-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.mail-tel:hover,
.mail-tel:focus,
.mail:hover,
.mail:focus {
    color: #404bbf;
}

.main-title {
    background-color: #2e2f42;
    padding: 188px 0;
}

.name-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.section-two {
    padding: 120px 0;
}

.name_two-title-section-two {
    visibility: hidden;
}

.name_two-section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.skills-list {
    display: flex;
    gap: 24px;
    width: calc(100%-72px)/4;
}

.paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-three {
    background-color: #F4F4FD;
}

.name-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.li-one {
    background-color: #FFFFFF;
}

.name_h-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraf-two {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.name-four {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.name_h-three-section-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraf-section-four {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.logo-footer>.span-one {
    color: #f4f4fd;
}

.paragraf-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

div {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}